body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000, #00e126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #111;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #00e126;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #004b25;
}